.category-card {
  display: inline-flex;
  justify-content: space-evenly;
  padding-top: 30px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 20px;
}

.card-body {
  background-color: rgb(20, 83, 108);
  border-radius: 4px;
}
.card-img-top {
  border-radius: 4px;
}

.card-title.h5{
  color: white;
}

.category-container {
  background-color: rgba(13, 172, 212, 0.436);
}